# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Aline\Education\BCC - UFRJ\2020.1.2 PLE\Algoritmos e Grafos\Projetos\AlgGrafosPLE\Trabalho 01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
